# Шаблоны игнорирования в git
# https://www.atlassian.com/ru/git/tutorials/saving-changes/gitignore#git-ignore-patterns
#

build_*/
lib/
.vscode/
Testing/
projects/scl/src/long_number/long_number.0.cpp
projects/scl/src/long_number/long_number.1.cpp
projects/scl/src/long_number/long_number.0.hpp
